
* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}

/* .#root {
display: flex;
flex-direction: column;
align-items: center;
} */

.App{
margin: 15px 0 15px 0;
}

.stack{
margin-bottom: 15px;
}
.navbar{
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background-color: lightgrey;
}
.navbar__link{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.link{
    text-decoration: none;
    margin-left: 10px;
    color: blue;
}